# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file for the repo
root = true

# Quasi-universal defaults
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# Defaults that seem fairly common
indent_style = space
indent_size = 2

# file-specific overrides
[CODEOWNERS]
indent_size = 8
