<%= link_to 'Edit', edit_bulk_action_path(@bulk_action) %> |
<%= link_to 'Back', bulk_actions_path %>

<div class="row">
  <div class="col-md-6">
    <h1>Bulk Action</h1>
    <p>
      <strong>Name:</strong>
      <%= @bulk_action.name %>
    </p>
  </div>
</div>
