%h1{ style: 'width:100%;' }
  = t('dictionary.notifications')

%table.admin.table
  %thead
    %tr
      %th{colspan: '6'}= button_to('Mark all read', batch_notifications_path(params: {read: 'all'}), {method: 'put', class: "btn btn-primary"})

    %tr
      %th Read
      %th Category
      %th Message
      %th File
      %th Date
      %th &nbsp;

  %tbody
    - if @notifications.size > 0
      = render @notifications
    - else
      %tr
        %td{colspan:'6'} Zero notifications

  %tfoot
    %tr
      %td{colspan: '6'}
        = pagy_bootstrap_nav(@pagy).html_safe
