<!-- Footer -->
<footer class="page-footer font-small pt-4 bg-secondary text-white">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">
      <div class="col-12 ">
        <h4 style="margin-bottom:1.5rem;">
          GEOMG // GeoBlacklight Metadata Toolkit
        </h4>
      </div>

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->

        <p style="background-color:#FFF; padding:1rem; padding-bottom:0;"><%= image_tag('btaa-logo.jpg', height: '120px') %></p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5>Metadata Resources</h5>

        <ul class="list-unstyled">
          <li>
            <a href="http://z.umn.edu
/gbl-handbook" class="text-white">Metadata Handbook</a>
          </li>
          <li>
            <a href="https://airtable.com/shruGYkqsNqj8USyQ" class="text-white">BTAA Schema</a>
          </li>
          <li>
            <a href="https://github.com/geoblacklight/geoblacklight/wiki/Metadata" class="text-white">GeoBlacklight Metadata Wiki</a>
          </li>
          <li>
            <a href="http://z.umn.edu/geometadata" class="text-white">Geospatial Metadata Tutorials</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5>Help</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-white">Contact Support</a>
          </li>
          <li>
            <a href="#" class="text-white">Link #2</a>
          </li>
          <li>
            <a href="#" class="text-white">Link #3</a>
          </li>
          <li>
            <a href="#" class="text-white">Link #4</a>
          </li>
        </ul>
      </div>

      <div class="col-12">
        <p>
          <small>© <%=Time.now.year%> Big Ten Academic Alliance</small>
        </p>
      <div>

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
