div.grouping {
  border-top: 2px solid $gray !important;
  padding-top: 1rem;
}

h3.grouping {
  border-top: 2px solid $gray !important;
  padding-top: 1rem;
}

h1.h5 {
  margin-top:0.5rem;
}

label, legend {
  font-weight:bold;
}

// Sidebar Nav
.make-me-sticky {
  position: sticky;
  top: 4rem;
}

//
html {
  scroll-padding-top: 4rem; /* height of your sticky header */
}
