<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="#identification">Identification</a>
    <ul>
      <li><a href="#descriptive">Descriptive</a></li>
      <li><a href="#credits">Credits</a></li>
      <li><a href="#categories">Categories</a></li>
      <li><a href="#temporal">Temporal</a></li>
      <li><a href="#spatial">Spatial</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#distribution">Distribution</a>
    <ul>
      <li><a href="#object">Object</li>
      <li><a href="#references">Access Links</li>
      <li><a href="#references">Geospatial Web Services</li>
      <li><a href="#references">Images</li>
      <li><a href="#references">Metadata</li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#administrative">Administrative</a>
    <ul>
      <li><a href="#codes">Codes</li>
      <li><a href="#life-cycle">Life Cycle</li>
      <li><a href="#accessibility">Accessibility</li>
    </ul>
  </li>
</ul>
