<span>
  <div class="btn-group dropright" data-controller="results">
    <button type="button" class="btn btn-sm btn-outline-primary"><input type="checkbox" data-action="click->results#toggleAll"></input></button>
    <button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" data-action="click->results#selectAll" href="javascript:void(0);">All</a>
      <a class="dropdown-item" data-action="click->results#selectNone" href="javascript:void(0);">None</a>
      <a class="dropdown-item" data-action="click->results#selectBookmarked" href="javascript:void(0);">Bookmarked</a>
    </div>
  </div>
</span>
