<div class="form-row mb-2">
  <div class="form-group col-md-4">
    <label for="compare">
      <%- compare = @comparison.blank? ? '' : "compare" %>
      <input type="hidden" name="compare" value="<%= compare.to_s %>"/>
      <input id="compare" name="compare_toggle" type="checkbox" checked="compare" />
      Compare to
    </label>

    <select id="compare-options" name="created_at[compare][range]" class="form-control">
      <option value="custom">Custom</option>
      <option value="previous_period" selected="true">
        Previous period
      </option>
      <option value="previous_year">
        Previous year
      </option>
    </select>
  </div>

  <div class="form-group col-md-3">
    <label for="compare-start-date">
      Start date
    </label>
    <input id="compare-start-date" class="form-control" data-js="datepicker" data-alt-target="#compare-start-date-iso" name="created_at[compare][start]" autocomplete="off" type="text" tabindex="1" value= "<%= @comparison.date_start ?  @comparison.date_start.strftime(I18n.t('date.formats.default')) : '' %>" />
  </div>

  <div class="form-group col-md-3">
    <label for="compare-end-date">
      End date
    </label>
    <input id="compare-end-date" class="form-control" data-js="datepicker" data-alt-target= "#compare-end-date-iso" name="created_at[compare][end]" autocomplete="off" type="text" tabindex="1" value="<%= @comparison.date_end ? @comparison.date_end.strftime(I18n.t('date.formats.default')) : '' %>" />
  </div>
</div>
